*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: PopLight;
    src: url('./fonts/Poppins-Light.ttf')
}
@font-face {
    font-family: PopReguler;
    src: url('./fonts/Poppins-Regular.ttf')
}
@font-face {
    font-family: PopMedium;
    src: url('./fonts/Poppins-Medium.ttf')
}

body {
    font-family: PopLight;
}

.portofolio {
    color: white;
    background: radial-gradient(#005257,#002b2c);
}

nav {
    min-height: 10vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.logo {
    font-size: 16px;
}

.page {
    min-height: 90vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
}
.chef, .hairstyle {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}

.hero {
    overflow: hidden;
    height: 350px;
    width: 230px;
    align-self: center;
    justify-self: center;
    display: flex;
}
.hero a {
    display: flex;
}
.hero img {
    transition: transform 0.3s  ease-out;
    cursor: pointer;
}
.hero:hover .model-right {
    transform: translate(0%, 0%);
}
.hero:hover .model-left {
    transform: translate(0%, 0%);
}
.model-left {
    height: 350px;
    transform: translate(0%, -10%);
}
.model-right {
    height: 350px;
    transform: translate(0%, 10%);
}

.details {
    grid-column: 2/3;
    align-self: end;
}

.details h1 {
    font-size: 30px;
    font-family: PopReguler;
}
.details h2 {
    font-size: 18px;
    font-family: PopReguler;
    padding: 5px 0px;
}
.details p {
    font-size: 15px;
    padding: 15px 0px 30px 0px;
}

.pages {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.pages > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pages h3 {
    font-size: 15px;
    padding: 20px;
}
.pages svg {
    cursor: pointer;
    opacity: 0.5;
    transform: scale(1);
}
.pages svg:hover {
    animation: dot 0.5s ease-in-out infinite alternate;
}

.pages svg.active {
    opacity: 1;
}

@keyframes dot {
    0% {
        transform: scale(1);
    } 100% {
        transform: scale(2);
    }
}

/* Content Main */
.banner {
    height: 50vh;
    width: 100%;
    position: relative;
}
.banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.profile img {
    height: 400px;
}
.author {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.author h1 {
    font-size: 30px;
}
.author h3 {
    font-size: 20px;
    padding: 10px 0px;
}

.story, .my-work {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 80px 0px;
}
.story-description, .work-description {
    width: 50%;
}
.story-description h3, .work-description h3 {
    padding-bottom: 30px;
    font-size: 20px;
}
.story-description p, .work-description p {
    padding: 20px 0px;
    font-size: 16px;
}

.work-galery {
    display: grid;
    grid-template-columns: repeat(3, 160px);
}
.work-galery img {
    width: 100%;
    height: 200px;
}

@media (max-width: 1024px) {
    .page {
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows: 2fr 1fr;
        align-items: center;
    }
    .hero {
        grid-column: 2/3;
        height: auto;
    }
    .hero img {
        height: 350px;
    }
    .details {
        grid-row: 2/3;
        grid-column: 2/3;
        text-align: center;
    }
    .story, .my-work {
        flex-direction: column;
    }
    .story-description, .work-description {
        width: 100%;
    }
    .work-galery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .profile {
        padding-top: 30px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .page {
        grid-template-rows: 3fr 1fr;
    }

    .details h1 {
        font-size: 25px;
    }
    .details h2 {
        font-size: 16px;
    }
    .details p {
        font-size: 14px;
    }
}

.nav-open {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50vh;
    background-color: white;
    z-index: 1;
    color: black;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    justify-items: center;
    align-items: center;
    text-align: center;
    transform: translateY(-101%);
}

.contact {
    grid-column: 2/3;
}
.nav-open h3 {
    font-size: 18px;
    padding-bottom: 30px;
}
.nav-open p {
    font-size: 14px;
}
.social-links img {
    padding: 0px 12px;
}

.logo, .menu {
    z-index: 2;
}
.menu {
    cursor: pointer;
}